In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import tensorflow as tf
import os, re
from scipy.signal import find_peaks
from tensorflow import keras
import keras

In [2]:
Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF/"
filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF")
files = [os.path.splitext(filename)[0] for filename in filelist]

regex = "SPACE"
stopwords=['SPACE','GROUP','ALTERNATE','SETTING','FOR'] # Ezeket a szavakat keresi majd a szövegfájlban

def lines_that_contain(string, fp):
    return [line for line in fp if string in line] # Ez mondja meg hogy a szöveg benne van-e a sorban

In [3]:
index = []
groups = []

In [4]:
for file in filelist: 
    with open(Path + file,'r') as f:
        data = f.readlines()
        matches = lines_that_contain(regex, data) # Kiszedem azt a sort amiben a space group van
        data = re.sub('[^A-Za-z0-9]+', '', data[0]) # Minden mást kitörlök
        matches = re.sub(r"\W+|:", " ", matches[0]) # Csak a betűk és számok kellenek
        for word in stopwords:
            matches = matches.replace(word,"") # Kitörlöm a konkrét space group előtti szövegeket
        index.append(data)
        groups.append(matches)

In [5]:
space_df = pd.DataFrame() # A kiszedett adatokat beleteszem egy táblázatba
space_df['Space Group'] = groups 
space_df["Name"] = index
space_df = space_df.groupby("Name").first() # Így mindegyik anyagból csak egy lesz a táblában
space_df.head()

           Space Group
Name
AISO4OH          C2 c
Abhurite          R32
Acanthite      P2_1 n
Actinolite       C2 m
Adamite          Pnnm

In [6]:
li = []
headers = ["2theta", 'intensity', "d_spacing"]

In [ ]:
filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF")
files = [os.path.splitext(filename)[0] for filename in filelist]
li = []
for i in filelist:
    df = pd.read_csv(Path + i, sep='   ', names=['2theta','b','intensity','s','d_spacing','hkl',
    'g', 'p', 'pg', 'fpfg', 'ouf', '.co', 'dxjd', 'gf', 'vpdx', 'vns']) # A szövegfájlokat táblázatba teszem,
    powder_data = [df['2theta'], df['s'], df['hkl']]                    # az értelmetlen oszlop neveknek nincs jelentősége
    powder_df = pd.concat(powder_data, axis=1, keys=headers)            #  csak így könnybben megkapom a fontos sorokat
    powder_df = powder_df.dropna()
    powder_df = powder_df[~powder_df["2theta"].str.contains('[A-Za-z]')] # Csak a számokat hagyom meg
    powder_df['2theta'] = powder_df['2theta'].astype(float)
    powder_df['intensity'] = powder_df['intensity'].astype(float)
    powder_df['d_spacing'] = powder_df['d_spacing'].astype(float)
    powder_df = powder_df.reset_index(drop=True)
    li.append(powder_df)

In [8]:
data_df = pd.DataFrame()
intensity = []
theta = []
d_sp = []

In [9]:
for i in range(len(li)):
    intensity.append(li[i]["intensity"])
    theta.append(li[i]["2theta"])
    d_sp.append(li[i]["d_spacing"])

In [10]:
data_df["intensity"] = intensity
data_df["2theta"] = theta
data_df["d_spacing"] = d_sp

In [11]:
data_df["Name"] = index

In [12]:
data_df = data_df.groupby("Name").first() # Így mindegyik anyagból csak egy lesz a táblában

In [13]:
data_df.head()

,intensity,2theta,d_spacing
Name,,,
AISO4OH,0 3.64 1 52.79 2 8.14 3 22.6...,0 19.08 1 19.28 2 25.33 3 28.0...,0 4.6513 1 4.6038 2 3.5155 3 3...
Abhurite,0 21.48 1 26.87 2 26.09 3 ...,0 10.43 1 12.11 2 13.04 3 ...,0 8.4805 1 7.3067 2 6.7870 3 ...
Acanthite,0 1.51 1 8.66 2 1.18 3 ...,0 17.17 1 22.46 2 22.92 3 ...,0 5.1656 1 3.9593 2 3.8794 3 ...
Actinolite,0 37.85 1 80.79 2 4.26 3 ...,0 9.79 1 10.51 2 17.35 3 ...,0 9.0372 1 8.4205 2 5.1099 3 ...
Adamite,0 61.24 1 50.24 2 56.81 3 ...,0 14.88 1 17.96 2 18.11 3 ...,0 5.9548 1 4.9402 2 4.8975 3 ...

In [14]:
frames = [data_df, space_df]

In [15]:
data = pd.concat(frames, axis=1) # Összekötöm a két táblát

In [16]:
data["Space Group"].nunique()

241

In [17]:
key = dict(list(enumerate(data["Space Group"].unique()))) # A space groupokat átalakítom számokká
space_group_codes = {value: key for key, value in key.items()}
data["Sg_code"] = data["Space Group"]
data = data.replace({"Sg_code":space_group_codes})

In [18]:
space_group_codes = {value: key for key, value in key.items()}

In [19]:
data = data.reset_index()

In [20]:
data.head()

,Name,intensity,2theta,d_spacing,Space Group,Sg_code
0,AISO4OH,0 3.64 1 52.79 2 8.14 3 22.6...,0 19.08 1 19.28 2 25.33 3 28.0...,0 4.6513 1 4.6038 2 3.5155 3 3...,C2 c,0
1,Abhurite,0 21.48 1 26.87 2 26.09 3 ...,0 10.43 1 12.11 2 13.04 3 ...,0 8.4805 1 7.3067 2 6.7870 3 ...,R32,1
2,Acanthite,0 1.51 1 8.66 2 1.18 3 ...,0 17.17 1 22.46 2 22.92 3 ...,0 5.1656 1 3.9593 2 3.8794 3 ...,P2_1 n,2
3,Actinolite,0 37.85 1 80.79 2 4.26 3 ...,0 9.79 1 10.51 2 17.35 3 ...,0 9.0372 1 8.4205 2 5.1099 3 ...,C2 m,3
4,Adamite,0 61.24 1 50.24 2 56.81 3 ...,0 14.88 1 17.96 2 18.11 3 ...,0 5.9548 1 4.9402 2 4.8975 3 ...,Pnnm,4

In [ ]:
peak_1 = []
peak_2 = []


for i in range(len(data['d_spacing'])):
    peak_1.append(data['d_spacing'][i][0])
    peak_2.append(data['d_spacing'][i][1])

In [330]:
data['peak1'] = peak_1
data['peak2'] = peak_2

In [340]:
del[data['d_spacing']]

In [30]:
data = pd.read_csv('top2_peaks.csv')

In [31]:
data.head()

         Name Space Group  Sg_code   peak1   peak2
0     AISO4OH       C2 c         0  4.6038  3.1012
1    Abhurite        R32         1  7.3067  4.8711
2   Acanthite     P2_1 n         2  3.9593  2.8377
3  Actinolite       C2 m         3  8.4205  4.8819
4     Adamite       Pnnm         4  4.8975  4.2473

In [32]:
train_data = []

In [33]:
for i in range(len(data['peak1'])):
    p1 = [data['peak1'][i], data['peak2'][i]]
    train_data.append(p1)

In [35]:
train_targets = data["Sg_code"]

In [21]:
t_Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data/"
t_filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data")
t_files = [os.path.splitext(t_filename)[0] for t_filename in t_filelist]

In [22]:
t_li = []
for i in t_filelist:
    t_df = pd.read_csv(t_Path + i, skiprows=[0], sep='\s+', names=["h", "k", "l", 'd_spacing',
        "F(real)", "F(imag)", "|F|", '2theta', 'I', 'M'])         
    t_df = t_df[~t_df["2theta"].str.contains('[A-Za-z]')]
    t_df = t_df[~t_df["I"].str.contains('[A-Za-z]')]
    t_df['d_spacing'] = t_df['d_spacing'].astype(float)
    t_df['I'] = t_df['I'].astype(float)
    t_df['2theta'] = t_df['2theta'].astype(float)
    t_df['h'] = t_df['h'].astype(float)
    t_df['k'] = t_df['k'].astype(float)
    t_df['l'] = t_df['l'].astype(float)
    t_powder_data = [t_df['2theta'], t_df['d_spacing'], t_df['I'], t_df['h'],  t_df['k'], t_df['l']]
    t_powder_df = pd.concat(t_powder_data, axis=1)
    t_li.append(t_powder_df)

In [28]:
peak_1 = []
peak_2 = []
peak_3 = []
peak_4 = []
peak_5= []
peak_6= []


h_1=[]
h_2 = []
h_3 = []
h_4 = []
h_5= []
h_6= []

k_1=[]
k_2 = []
k_3 = []
k_4 = []
k_5= []
k_6= []

l_1=[]
l_2 = []
l_3 = []
l_4 = []
l_5= []
l_6= []

for i in range(len(t_li)):
    df_sorted = t_li[i].sort_values(by=['I'], ascending=False)
    peak_1.append(df_sorted['d_spacing'][0])
    peak_2.append(df_sorted['d_spacing'][1])
    peak_3.append(df_sorted['d_spacing'][2])
    peak_4.append(df_sorted['d_spacing'][3])
    peak_5.append(df_sorted['d_spacing'][4])
    peak_6.append(df_sorted['d_spacing'][5])
    h_1.append(df_sorted['h'][0])
    h_2.append(df_sorted['h'][1])
    h_3.append(df_sorted['h'][2])
    h_4.append(df_sorted['h'][3])
    h_5.append(df_sorted['h'][4])
    h_6.append(df_sorted['h'][5])
    k_1.append(df_sorted['k'][0])
    k_2.append(df_sorted['k'][1])
    k_3.append(df_sorted['k'][2])
    k_4.append(df_sorted['k'][3])
    k_5.append(df_sorted['k'][4])
    k_6.append(df_sorted['k'][5])
    l_1.append(df_sorted['l'][0])
    l_2.append(df_sorted['l'][1])
    l_3.append(df_sorted['l'][2])
    l_4.append(df_sorted['l'][3])
    l_5.append(df_sorted['l'][4])
    l_6.append(df_sorted['l'][5])

In [34]:
train_df = pd.DataFrame()

train_df['peak_1'] = peak_1
train_df['h_1'] = h_1
train_df['k_1'] = k_1
train_df['l_1'] = l_1

train_df['peak_2'] = peak_2
train_df['h_2'] = h_2
train_df['k_2'] = k_2
train_df['l_2'] = l_2

train_df['peak_3'] = peak_3
train_df['h_3'] = h_3
train_df['k_3'] = k_3
train_df['l_3'] = l_3

train_df['peak_4'] = peak_4
train_df['h_4'] = h_4
train_df['k_4'] = k_4
train_df['l_4'] = l_4

train_df['peak_5'] = peak_5
train_df['h_5'] = h_5
train_df['k_5'] = k_5
train_df['l_5'] = l_5

train_df['peak_6'] = peak_6
train_df['h_6'] = h_6
train_df['k_6'] = k_6
train_df['l_6'] = l_6

In [36]:
train_df.head()

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,k_4,l_4,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6
0,3.318000,2.0,0.0,0.0,2.709136,2.0,1.0,1.0,2.346180,2.0,...,2.0,2.0,1.773546,3.0,2.0,1.0,1.773546,2.0,3.0,1.0
1,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,2.0,2.0,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0
2,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,2.0,2.0,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0
3,3.135555,1.0,1.0,1.0,1.920128,2.0,2.0,0.0,1.637490,3.0,...,2.0,2.0,1.357735,4.0,0.0,0.0,1.245943,3.0,3.0,1.0
4,3.135243,1.0,1.0,1.0,1.919936,2.0,2.0,0.0,1.637327,3.0,...,2.0,2.0,1.357600,4.0,0.0,0.0,1.245819,3.0,3.0,1.0

In [73]:
t2_Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\T_dat/"
t2_filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\T_dat")
t2_files = [os.path.splitext(t2_filename)[0] for t2_filename in t2_filelist]

In [74]:
space_group = []
for i in t2_filelist:
    sp_df = open(t2_Path + i)
    lines = sp_df.readlines()
    spacegroup = re.sub(r"\W+|:", "", lines[8])
    space_group.append(spacegroup)

In [75]:
train_df["space_group"] = space_group

In [76]:
train_df.head()

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,l_4,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_group
0,3.318000,2.0,0.0,0.0,2.709136,2.0,1.0,1.0,2.346180,2.0,...,2.0,1.773546,3.0,2.0,1.0,1.773546,2.0,3.0,1.0,Ia3
1,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,2.0,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0,Fd3m
2,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,2.0,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0,Fd3m
3,3.135555,1.0,1.0,1.0,1.920128,2.0,2.0,0.0,1.637490,3.0,...,2.0,1.357735,4.0,0.0,0.0,1.245943,3.0,3.0,1.0,Fd3m
4,3.135243,1.0,1.0,1.0,1.919936,2.0,2.0,0.0,1.637327,3.0,...,2.0,1.357600,4.0,0.0,0.0,1.245819,3.0,3.0,1.0,Fd3m

In [86]:
key = dict(list(enumerate(train_df["space_group"].unique()))) # A space groupokat átalakítom számokká
space_group_codes = {value: key for key, value in key.items()}
train_df["Space_code"] = train_df["space_group"]
train_df = train_df.replace({"Space_code":space_group_codes})

In [87]:
space_group_codes = {value: key for key, value in key.items()}

In [88]:
train_df.head()

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_group,Space_code
0,3.318000,2.0,0.0,0.0,2.709136,2.0,1.0,1.0,2.346180,2.0,...,1.773546,3.0,2.0,1.0,1.773546,2.0,3.0,1.0,Ia3,0
1,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0,Fd3m,1
2,3.135416,1.0,1.0,1.0,1.920042,2.0,2.0,0.0,1.637418,3.0,...,1.357675,4.0,0.0,0.0,1.245888,3.0,3.0,1.0,Fd3m,1
3,3.135555,1.0,1.0,1.0,1.920128,2.0,2.0,0.0,1.637490,3.0,...,1.357735,4.0,0.0,0.0,1.245943,3.0,3.0,1.0,Fd3m,1
4,3.135243,1.0,1.0,1.0,1.919936,2.0,2.0,0.0,1.637327,3.0,...,1.357600,4.0,0.0,0.0,1.245819,3.0,3.0,1.0,Fd3m,1